        *{
            box-sizing: border-box;
            margin: 0px;
            padding: 0px;
        }
        .container{
            display: grid;

            grid-template-columns: 1fr;
            grid-template-areas:
                'header'
                'main'
                'aside'
                'footer';
        }


    /*   header style 
        ==============  */

        /* logo style  */
        .header{
            background-color: rgb(2, 155, 2);

            display: flex;
            flex-direction: column;
        }
        .header .logo{
            display: flex;
            padding: 15px 20px 15px 30px;
            cursor: pointer;
        }
        .header .logo img{
            max-width: 70px;
            height: auto;
            padding: 5px;
        }
        .header .logo h1{
            color: white;
            font-size:40px;
            font-family: "Gravitas One", serif;

            padding: 14px;
            text-shadow: 6px 6px 12px rgb(0, 58, 0);
        }

        /* menu style  */
        .header .menu{
            display: flex;
            flex-direction: column;
        }
        .header .menu a{
            text-decoration: none;
            color: rgb(212, 255, 172);
            font-size: 20px;
            font-weight: bolder;
             font-family: "Noto Sans", sans-serif;
            padding: 20px 50px 20px 50px;
            margin: 0px 5px 0px 5px;
            text-align: center;
            border: 3px solid rgb(2, 131, 2);
            border-radius: 15px;
            text-transform: capitalize;
        }
        .menu a:hover{
            background-color: rgb(125, 207, 3);
            color: rgb(2, 88, 2);
        }


    /*  body style
        ============ */

        /* main style  */
        .main{
            padding: 40px 50px;
        }
        .main h1{
            text-align: center;
            color: rgb(1, 92, 1);
            font-size: 33px;
            text-transform: uppercase;
            padding: 15px 0px;
            background-color: rgb(192, 248, 160);
            margin: 10px 0px 20px 0px;
        }
        .main h3{
            font-size: 28px;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            padding: 20px 0px 10px 0px;
        }
        .main p{
            font-size: 24px;
            font-family: "Roboto Slab", serif;
            text-align: justify;
            padding: 5px 0px 20px 0px;
        }

        /* aside style  */
        .aside{
            background-color: rgb(192, 248, 160);
            padding: 50px 50px;
        }
        .aside p{
            padding: 20px 5px;
            text-align: start;

            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: bolder;
        }
        .aside span{
            color: rgb(0, 102, 0);
            text-transform: uppercase;
        }


    /*  footer style
        ============= */
        .footer{
            background-color: rgb(2, 155, 2);
            text-align: center;
            padding: 40px;
            margin-bottom: 10px;
        }
        .footer p{
            font-size: 24px;
            color:rgb(1, 51, 1);
        }


        /* Responsive Tablet Screen  */
        @media screen and (min-width: 950px){
            .container{
                grid-template-columns: 1fr 2fr;
                grid-template-areas: 
                'header header'
                'main main'
                'aside aside'
                'footer footer';
            }
            /* header  */
            .header{
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                position: sticky;
                top: 0px;
                z-index: 1000;
            }
            .header .menu{
                flex-direction: row;
                padding-right: 30px;
            }
            .header .menu a{
                padding: 20px;
                margin: 10px;
                text-align: center;
                border: none;
            }
            
            

        }
        /* Responsive Desktop Screen  */
        @media screen and (min-width: 1400px){
            .container{
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-areas: 
                'header header header'
                'main main aside'
                'main main .'
                'footer footer footer';
            }
            .aside{
                margin-top: 50px;
                margin-right: 50px;

                position: sticky;
                top: 105px;
                align-self: start;
            }

        }

        



        .header{grid-area: header;}
        .main{grid-area: main;}
        .aside{grid-area: aside;}
        .footer{grid-area: footer;}